---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Intro section with dropdown navigation">
	<!--Mobile menu -->
	<section
		class="w-full h-screen bg-opacity-70 bg-almost-black z-30 absolute justify-end hidden"
		id="menu-ham"
	>
		<div class="h-full w-[70%] bg-almost-white pl-5 flex flex-col space-y-4">
			<picture class="p-5 flex justify-end">
				<img
					src="/images/icon-close-menu.svg"
					alt="icon close menu"
					class="bg-almost-white w-8 h-7 desktop:hidden"
					id="icon-close-menu"
				/>
			</picture>
			<!--Multi options -->
			<ul id="navbar-links-mobile" class="w-full flex flex-col space-y-4">
				<li class="cursor-pointer relative">
					<div id="mobile-feature" class="inline-block">
						<a id="feature-mobile-text" href="#">Features</a>
						<div class="relative inline-block w-3 h-2">
							<svg
								width="10"
								height="6"
								xmlns="http://www.w3.org/2000/svg"
								class="absolute stroke-medium-gray ml-1"
								><path stroke-width="1.5" fill="none" d="m1 5 4-4 4 4"></path>
							</svg>
							<svg
								width="10"
								height="6"
								xmlns="http://www.w3.org/2000/svg"
								class="arrow-down-mobile-feature ml-1 absolute stroke-medium-gray bg-almost-white"
								><path fill="none" stroke-width="1.5" d="m1 1 4 4 4-4"></path>
							</svg>
						</div>
					</div>
					<!--Drop-down -->
					<div id="drop-down-feature-mobile" class="hidden flex-col p-6 space-y-3">
						<a
							class="before:content-[url('/images/icon-todo.svg')] before:w-4 before:h-4 before:mr-4"
							href="#">Todo List</a
						>
						<a
							class="before:content-[url('/images/icon-calendar.svg')] before:w-4 before:h-4 before:mr-4"
							href="#">Calendar</a
						>
						<a
							class="before:content-[url('/images/icon-reminders.svg')] before:w-4 before:h-4 before:mr-4"
							href="#">Remainders</a
						>
						<a
							class="before:content-[url('/images/icon-planning.svg')] before:w-4 before:h-4 before:mr-4"
							href="#">Planning</a
						>
					</div>
				</li>
				<li class="cursor-pointer">
					<!--Options menu -->
					<div id="mobile-company" class="inline-block">
						<a href="#">Company</a>
						<div class="relative inline-block w-3 h-2">
							<svg
								width="10"
								height="6"
								xmlns="http://www.w3.org/2000/svg"
								class="absolute stroke-almost-black ml-1"
								><path stroke-width="1.5" fill="none" d="m1 5 4-4 4 4"></path>
							</svg>
							<svg
								width="10"
								height="6"
								xmlns="http://www.w3.org/2000/svg"
								class="arrow-down-mobile-company ml-1 absolute stroke-medium-gray bg-almost-white"
								><path fill="none" stroke-width="1.5" d="m1 1 4 4 4-4"></path>
							</svg>
						</div>
					</div>
					<!--Drop-down -->
					<div id="drop-down-company-mobile" class="hidden flex-col p-6 space-y-3">
						<a href="#">History</a>
						<a href="#">Our Team</a>
						<a href="#">Blog</a>
					</div>
				</li>
				<li class="cursor-pointer">
					<a href="#">Careers</a>
				</li>
				<li class="cursor-pointer">
					<a class="" href="#">About</a>
				</li>
			</ul>
			<!--Login - Register -->
			<div class="flex items-center flex-col space-y-6">
				<button class="inline-block text-medium-gray hover:text-almost-black">Login</button>
				<button
					class="inline-block ring-2 ring-medium-gray px-16 py-2 rounded-xl text-medium-gray hover:text-almost-black hover:ring-almost-black"
					>Register</button
				>
			</div>
		</div>
	</section>

	<header class="w-full h-16">
		<section
			class="h-full w-full flex justify-between px-5 items-center desktop:px-10 desktop:pt-5"
		>
			<!--Options menu -->
			<div class="flex items-center space-x-16">
				<span class="font-bold text-3xl">snap</span>
				<!--Desktop -->
				<div class="hidden desktop:flex">
					<ul id="navbar-links" class="space-x-10">
						<li class="cursor-pointer relative">
							<!--Drop-down -->
							<div
								id="drop-down-feature"
								class="absolute flex flex-col mt-8 p-6 shadow-2xl bg-white rounded-2xl space-y-3 w-44 -translate-x-20"
							>
								<a
									class="before:content-[url('/images/icon-todo.svg')] before:w-4 before:h-4 before:mr-4"
									href="#">Todo List</a
								>
								<a
									class="before:content-[url('/images/icon-calendar.svg')] before:w-4 before:h-4 before:mr-4"
									href="#">Calendar</a
								>
								<a
									class="before:content-[url('/images/icon-reminders.svg')] before:w-4 before:h-4 before:mr-4"
									href="#">Remainders</a
								>
								<a
									class="before:content-[url('/images/icon-planning.svg')] before:w-4 before:h-4 before:mr-4"
									href="#">Planning</a
								>
							</div>
							<a id="feature" href="#">Features</a>
							<div class="relative inline-block w-3 h-2">
								<svg
									width="10"
									height="6"
									xmlns="http://www.w3.org/2000/svg"
									class="absolute stroke-almost-black ml-1"
									><path stroke-width="1.5" fill="none" d="m1 5 4-4 4 4"></path>
								</svg>
								<svg
									width="10"
									height="6"
									xmlns="http://www.w3.org/2000/svg"
									class="arrow-down ml-1 absolute stroke-medium-gray bg-almost-white"
									><path fill="none" stroke-width="1.5" d="m1 1 4 4 4-4"></path>
								</svg>
							</div>
						</li>
						<li class="cursor-pointer">
							<!--Drop-down -->
							<div
								id="drop-down-company"
								class="absolute flex flex-col mt-8 p-6 shadow-2xl bg-white rounded-2xl space-y-3"
							>
								<a href="#">History</a>
								<a href="#">Our Team</a>
								<a href="#">Blog</a>
							</div>
							<a href="#">Company</a>
							<div class="relative inline-block w-3 h-2">
								<svg
									width="10"
									height="6"
									xmlns="http://www.w3.org/2000/svg"
									class="absolute stroke-almost-black ml-1"
									><path stroke-width="1.5" fill="none" d="m1 5 4-4 4 4"></path>
								</svg>
								<svg
									width="10"
									height="6"
									xmlns="http://www.w3.org/2000/svg"
									class="arrow-down ml-1 absolute stroke-medium-gray bg-almost-white"
									><path fill="none" stroke-width="1.5" d="m1 1 4 4 4-4"></path>
								</svg>
							</div>
						</li>
						<li class="cursor-pointer">
							<a href="#">Careers</a>
						</li>
						<li class="cursor-pointer">
							<a class="" href="#">About</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Icon Menu -->
			<div>
				<div class="relative">
					<img
						src="/images/icon-menu.svg"
						class="desktop:hidden w-8 h-4"
						alt="icon menu"
						id="icon-menu"
					/>
				</div>
				<!--Desktop -->
				<div class="desktop:flex items-center hidden">
					<button class="inline-block text-medium-gray mr-10 hover:text-almost-black"
						>Login</button
					>
					<button
						class="inline-block ring-2 ring-medium-gray px-5 py-2 rounded-xl text-medium-gray hover:text-almost-black hover:ring-almost-black"
						>Register</button
					>
				</div>
			</div>
		</section>
	</header>

	<main class="w-full">
		<section
			class="w-full h-full flex flex-col pt-3 desktop:flex-row desktop:pb-32 desktop:pt-20 desktop:justify-center"
		>
			<div
				class="bg-img-hero-mobile h-[40%] bg-no-repeat bg-center bg-contain desktop:bg-img-hero-desktop desktop:order-2 desktop:w-[80%] desktop:h-full"
			>
			</div>
			<div
				class="flex flex-col space-y-4 pt-10 px-3 items-center desktop:pl-36 desktop:items-start desktop:pr-10 desktop:space-y-12 desktop:pt-28"
			>
				<h1
					class="font-bold text-4xl text-center desktop:text-8xl desktop:text-left desktop:flex desktop:flex-col"
				>
					<span>Make</span>
					<span>remote work</span>
				</h1>
				<p
					class="text-medium-gray text-center text-[16px] desktop:text-left desktop:w-3/4 desktop:text-[24px]"
				>
					Get your team in sync, no matter your location. Streamline processes, create
					team rituals, and watch productivity soar.
				</p>
				<button
					class="grid place-items-center text-almost-white bg-almost-black px-6 py-3 rounded-xl desktop:text-[24px] desktop:px-7 desktop:py-4 hover:text-almost-black hover:bg-almost-white hover:ring-almost-black ring-2 ring-almost-black"
					>Learn more</button
				>
				<ul
					class="flex pt-10 w-full justify-around items-center desktop:inline-block desktop:space-x-10"
				>
					<li>
						<img
							class="w-20 desktop:w-28"
							src="/images/client-databiz.svg"
							alt="databiz"
						/>
					</li>
					<li>
						<img
							class="w-12 desktop:w-20"
							src="/images/client-audiophile.svg"
							alt="audiophile"
						/>
					</li>
					<li>
						<img class="w-16 desktop:w-24" src="/images/client-meet.svg" alt="meet" />
					</li>
					<li>
						<img class="w-16 desktop:w-24" src="/images/client-maker.svg" alt="maker" />
					</li>
				</ul>
			</div>
		</section>
	</main>
</Layout>
<style>
	:root {
		--almost-white: #fafafa;
		--medium-gray: #696969;
		--almost-black: #141414;
	}
	ul li {
		display: inline-block;
	}

	main {
		height: calc(100vh - 64px);
	}
	#navbar-links li a,
	#navbar-links-mobile li a {
		color: var(--medium-gray);
	}
	#navbar-links li:hover a {
		color: var(--almost-black);
	}

	#navbar-links li:hover div svg {
		stroke: var(--almost-black);
	}

	#navbar-links li:hover div .arrow-down {
		display: none;
	}
	#navbar-links li {
		padding: 10px;
	}
	/**Drop down */
	#navbar-links #drop-down-feature,
	#navbar-links #drop-down-company {
		visibility: hidden;
	}
	#navbar-links li:hover #drop-down-feature,
	#navbar-links li:hover #drop-down-company {
		visibility: visible;
	}
</style>
