---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="font-epilogue w-full h-full">
		<slot />
		<script type="module" src="/main.js"></script>
	</body>
</html>
